<h1>Editing Player</h1>

<%= render 'form', player: @player %>
<br>
<%= link_to 'Show', @player, class: 'btn btn-primary' %> |
<%= link_to 'Back to Players', team_players_path(@player.team), class: 'btn btn-primary' %>